<form style="width: 100%;">
	<label>Example label</label>
	<input type="text" value="example input">
	<a id="add-file-upload">Add form</a>
</form>
<div style="width: 100%;" id="upload-file-div">
	<input name="image" type="file">
	<a id="upload-form">Upload</a>
</div>

<script type="text/javascript">
	var add = document.getElementById('add-file-upload');
	var fileUpload = document.getElementById('upload-file-div')

	add.addEventListener('click', function(e) {
		var clone = fileUpload.cloneNode(true);

		clone.addEventListener('click', ajaxUploadHandler);

		add.parentNode.insertBefore(clone, add);
	});
	
	function ajaxUploadHandler(e) {
		var request = new XMLHttpRequest();
		fd = new FormData();

		var file = e.currentTarget.querySelector('input[type=file]').files[0];
		fd.append('image', file);

		request.open("post", "/example", true);
		request.setRequestHeader("Content-Type", "multipart/form-data");
		request.send(fd);
	}
</script>